@charset "EUC-KR";
.viewProject {
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(3, 210px);
	/* grid-template-rows: repeat(4, 120px); */
}

.viewpro {
	width: 200px;
	height: 100px;
	border: 1px solid black;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 1px 1px 1px;
	margin-bottom: 15px;
}

.progress {
	margin-left: 10px;
	margin-top: 5px;
	width: 40px;
	height: 15px;
	border: 1px solid yellowgreen;
	background-color: yellowgreen;
	border-radius: 40px 40px 40px 40px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.end {
	margin-left: 10px;
	margin-top: 5px;
	width: 40px;
	height: 15px;
	border: 1px solid red;
	background-color: red;
	border-radius: 40px 40px 40px 40px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.content {
	margin-left: 10px;
	margin-top: 5px;
}