@charset "EUC-KR";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap");

.viewProject {
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(3, 300px);
	margin-bottom: 20px;
	/* grid-template-rows: repeat(4, 120px); */
}

.viewpro {
	width: 250px;
	height: 150px;
	border: 1px solid black;
/*	border-radius: 5px;*/
	/*box-shadow: 1px 1px 1px;*/
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 35px;
}

/*.progress-container {
        display: flex;   flexbox 사용 
        align-items: center;   아이템들을 세로 축 중앙에 배치 
}*/

.progress {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	width: 60px;
	height: 25px;
	border: 1px solid yellowgreen;
	background-color: yellowgreen;
	border-radius: 40px 40px 40px 40px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	font-family: 'Gowun Dodum', sans-serif;
}

.end {
	margin-left: 10px;
	margin-top: 10px;
	width: 60px;	
	height: 25px;
	border: 1px solid red;
	background-color: red;
	border-radius: 40px 40px 40px 40px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	font-family: 'Gowun Dodum', sans-serif;
}


.content {
	margin-left: 10px;
	margin-top: 5px;
	font-size: 20px;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 100;
	background-image: url("images/smile.png");
	background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}

.graph{
	margin-top: 20px;
	margin-bottom: 0;
}

.printDate{
	margin-top: auto;
	font-size: 10px;
}
